src/main/java/cn/rzhd/wuye/wsserver/UpdateDataServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://wsserver.wuye.rzhd.cn"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wsserver.wuye.rzhd.cn">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.wuye.rzhd.cn/xsd">
            <xs:complexType name="JsonResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsserver.wuye.rzhd.cn/xsd">
            <xs:complexType name="RequesterVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billtype" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="data" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://utils.wuye.rzhd.cn/xsd" xmlns:ax22="http://wsserver.wuye.rzhd.cn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsserver.wuye.rzhd.cn">
            <xs:import namespace="http://wsserver.wuye.rzhd.cn/xsd"/>
            <xs:import namespace="http://utils.wuye.rzhd.cn/xsd"/>
            <xs:element name="updateData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="req" nillable="true" type="ax22:RequesterVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:JsonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateDataRequest">
        <wsdl:part name="parameters" element="ns:updateData"/>
    </wsdl:message>
    <wsdl:message name="updateDataResponse">
        <wsdl:part name="parameters" element="ns:updateDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="UpdateDataServiceImplPortType">
        <wsdl:operation name="updateData">
            <wsdl:input message="ns:updateDataRequest" wsaw:Action="urn:updateData"/>
            <wsdl:output message="ns:updateDataResponse" wsaw:Action="urn:updateDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateDataServiceImplSoap11Binding" type="ns:UpdateDataServiceImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="updateData">
            <soap:operation soapAction="urn:updateData" style="rpc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UpdateDataServiceImplSoap12Binding" type="ns:UpdateDataServiceImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="updateData">
            <soap12:operation soapAction="urn:updateData" style="rpc"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UpdateDataServiceImplHttpBinding" type="ns:UpdateDataServiceImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateData">
            <http:operation location="UpdateDataServiceImpl/updateData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="updateData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="updateData"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpdateDataServiceImpl">
        <wsdl:port name="UpdateDataServiceImplHttpSoap11Endpoint" binding="ns:UpdateDataServiceImplSoap11Binding">
            <soap:address location="http://localhost:8080//services/cn/rzhd/wuye/wsserver/UpdateDataServiceImpl"/>
        </wsdl:port>
        <wsdl:port name="UpdateDataServiceImplHttpSoap12Endpoint" binding="ns:UpdateDataServiceImplSoap12Binding">
            <soap12:address location="http://localhost:8080//services/cn/rzhd/wuye/wsserver/UpdateDataServiceImpl"/>
        </wsdl:port>
        <wsdl:port name="UpdateDataServiceImplHttpEndpoint" binding="ns:UpdateDataServiceImplHttpBinding">
            <http:address location="http://localhost:8080//services/cn/rzhd/wuye/wsserver/UpdateDataServiceImpl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
